[submodule "rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "AudioFFT"]
	path = external/AudioFFT
	url = https://github.com/HiFi-LoFi/AudioFFT
[submodule "pffft"]
	path = pffft
	url = https://github.com/marton78/pffft
[submodule "external/ffts"]
	path = external/ffts
	url = https://github.com/anthonix/ffts
